---
// multiple choice dialog, used to check the reader's ability
interface Choices {
  info: string;
  options: { [name: string]: number };
  directions: [[info: string, ref: string]];
}

const { info, options, directions } = Astro.props as Choices;
---

<dialog>
  <b style="font-size: larger; line-height: 50px;">{info}</b>
  <form name="quiz">
    {
      Object.keys(options).map((prompt) => (
        <div>
          <input type="radio" name="answer" value={options[prompt]} />
          <label>{prompt}</label>
        </div>
      ))
    }
  </form>
  <button style= "font-size: larger;" onclick="
  submit()
  ">confirm</button>
  {
    directions.map(([info, ref], index) =>
      ref === "#" ? (
        <div><a class="pale" id={`ref-${index + 1}`} href={ref}>
          {info}
        </a></div>
      ) : (
        <div><a class="pale" id={`ref-${index + 1}`} href={ref}>
          {info}
        </a></div>
      )
    )
  }
  <script is:inline>
    const dialog = document.querySelector("dialog");
    dialog?.showModal();

    const links = document.querySelectorAll('a[href="#"]');
    links.forEach((element) => {
      element.addEventListener("click", function () {
        dialog?.close();
      });
    });

    function submit() {
      const radios = document.getElementsByName("answer");
      const value = Array.from(radios).find((radio) => radio.checked).value;

      const ref_to_highlight = document.getElementById("ref-" + value);
      ref_to_highlight.classList.add("highlight");
      ref_to_highlight.classList.remove("pale");
    }
  </script>

  <style>
    .pale {
      color: #ccc;
    }

    .highlight {
      color: #ff0000;
      font-weight: bold;
    }
  </style>
</dialog>
