---
// multiple choice dialog, used to check the reader's ability
interface Choices {
  info: string;
  options: { [name: string]: number };
  directions: [[info: string, ref: string]];
  submit: boolean;
}

const { info, options, directions, submit = true } = Astro.props as Choices;
---

<dialog>
  <div style="text-align: center;">------------ ignore the quiz using <kbd>Space Bar</kbd> ------------</div>
  <b style="font-size: larger; line-height: 50px;">{info}</b>

  {
    Object.keys(options).map((prompt, index) => (
      <div>
        <input id={ `input-` + index } type="radio" name="answer" value={options[prompt]} onclick="submit()" />
        <label for={ `input-` + index }>{prompt}</label>
      </div>
    ))
  }

  <div style="margin: 30px;" />

  {
    directions.map(([info, ref], index) =>
      ref === "#" ? (
        <div><a class="pale" id={`ref-${index + 1}`} href={ref}>
          {info}
        </a></div>
      ) : (
        <div><a class="pale" id={`ref-${index + 1}`} href={ref}>
          {info}
        </a></div>
      )
    )
  }
  <script is:inline>
    const dialog = document.querySelector("dialog");
    dialog?.showModal();
    
    const links = document.querySelectorAll('a[href="#"]');
    links.forEach((element) => {
      element.addEventListener("click", function (el) {
        el.preventDefault();
        dialog?.close();
      });
    });
    // shortcut for closing the dialog
    document.addEventListener(
      "keydown",
      (event) => {
        if (event.key === " ") {
          dialog?.close();
          return;
        }
      },
      false,
    );

    function submit() {
      const radios = document.getElementsByName("answer");
      const value = Array.from(radios).find((radio) => radio.checked).value;

      const ref_to_highlight = document.getElementById("ref-" + value);
      ref_to_highlight.classList.add("highlight");
      ref_to_highlight.classList.remove("pale");
    }
  </script>

  <style>
    kbd {
      background-color: #eee;
      border-radius: 3px;
      border: 1px solid #b4b4b4;
      box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.2),
        0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
      color: #333;
      display: inline-block;
      font-size: 0.85em;
      font-weight: 700;
      line-height: 1;
      padding: 2px 4px;
      white-space: nowrap;
    }

    .pale {
      color: #ccc;
    }

    .highlight {
      color: #ff0000;
      font-weight: bold;
    }
  </style>
</dialog>
