---
// multiple choice dialog, used to check the reader's ability
interface Choices {
  info: string;
  options: { [name: string]: number };
  directions: [[info: string, ref: string]];
  submit: boolean;
}

const { info, options, directions, submit = true } = Astro.props as Choices;
---

<dialog>
  <b style="font-size: larger; line-height: 50px;">{info}</b>

  {
    Object.keys(options).map((prompt) => (
      <div>
        <input type="radio" name="answer" value={options[prompt]} onclick="submit()" />
        <label>{prompt}</label>
      </div>
    ))
  }

  <div style="margin: 30px;" />

  {
    directions.map(([info, ref], index) =>
      ref === "#" ? (
        <div><a class="pale" id={`ref-${index + 1}`} href={ref}>
          {info}
        </a></div>
      ) : (
        <div><a class="pale" id={`ref-${index + 1}`} href={ref}>
          {info}
        </a></div>
      )
    )
  }
  <script is:inline>
    const dialog = document.querySelector("dialog");
    dialog?.showModal();

    const links = document.querySelectorAll('a[href="#"]');
    links.forEach((element) => {
      element.addEventListener("click", function (el) {
        el.preventDefault();
        dialog?.close();
      });
    });

    function submit() {
      const radios = document.getElementsByName("answer");
      const value = Array.from(radios).find((radio) => radio.checked).value;

      const ref_to_highlight = document.getElementById("ref-" + value);
      ref_to_highlight.classList.add("highlight");
      ref_to_highlight.classList.remove("pale");
    }
  </script>

  <style>
    .pale {
      color: #ccc;
    }

    .highlight {
      color: #ff0000;
      font-weight: bold;
    }
  </style>
</dialog>
